
@{

    HR_MasterPageConfig mpc = ViewBag.mpc;
    ViewBag.Title = "Duty Hours";
    if (mpc.OtherData != null)
    {
        if (mpc.OtherData.ContainsKey("Page_Layout_Path"))
        {
            if (mpc.OtherData["Page_Layout_Path"] != "")
            {
                Layout = mpc.OtherData["Page_Layout_Path"];
            }
        }
    }
}

<style>
    .form-label {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }
    .form-control {
        padding: .1rem .75rem !important; 
    } 
</style>
<div class="page-breadcrumb d-flex align-items-center mb-2">
    <div class="ps-3 d-none d-sm-flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <form class="my-form" id="main-form">
            @Html.Hidden("frm-page-Id", ViewBag.pageId as string)
            @Html.Hidden("HdId")
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @Html.LabelEditor("Duty_Hour_Name", "text", "Duty Hour Name", "", false, divCssClass: "col-8 pe-0", editorHtmlAttributes: new { @style = "padding: .375rem .75rem !important;" })


                        @Html.LabelEditor("No_of_Shift", "ddl", "No Of Shift", "", true, ddl_comma_seperated: "1,2,3,4,5,6,7,8,9,10", divCssClass: "col-4")
                        <div class="col-lg-12">
                            @for (var a = 1; a <= 10; a++)
                            {
                <div class="row d-none" id="shift_@a">
                    @Html.LabelEditor("Shift_" + a + "_Name", "text", "Shift " + a + " Name", "", true, divCssClass: "col-3 pe-0")
                    @Html.LabelEditor("Shift_" + a + "_Intime", "time", "In Time", "", true, divCssClass: "col-3 pe-0")
                    @Html.LabelEditor("Shift_" + a + "_workingHour", "text", "Working Hour", "", true, divCssClass: "col-2 pe-0")
                    @Html.LabelEditor("Shift_" + a + "_outtime", "time", "Out Time", "", true, divCssClass: "col-3")
                    @Html.LabelEditor("Shift_" + a + "_colorcode", "color", "Color", "#ffffff", false, divCssClass: "col-1 px-0")
                </div>}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12">

                            <button id="btn-add" type="submit" class="btn btn-primary">Add</button>
                            <button id="btn-cancel" type="button" style="display: none;" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>
                </div>
            </div> 
          </form>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body px-2 py-1">
                <table class="table table-bordered table-striped"  style="width:100%" id="mytable">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Duty Hour Name</th>
                            <th>No Of Shift</th>  
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="grid_prog" style="margin : 0px auto; width:200px">
                    <span class="spinner-border spinner-border-sm me-2"> </span>
                    Please wait....
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $('#No_of_Shift').on('change', function () {
        var sh = $(this).val();
        for (var i = 1; i <= 10; i++) {
            $(`#shift_${i}`).addClass('d-none');
        } 
        if (sh) {
            sh = parseInt(sh);
            for (var i = 1; i <= sh; i++) {
                $(`#shift_${i}`).removeClass('d-none');
            } 
        }
    })
</script>
<script>
    var actionlist = [];
    var isEdit = false;
    var edit_row;
   $(function () {
        var data = JSON.stringify({ data: { pageId: '@ViewBag.pageId' } });
    gowithData('../../hr/data/tabledata', 'Post', data, function (data) {
        if (!data.error) {
            bind_data(data.data);
        }
    })
    emptyForm();
});

     $('#btn-add').on('click', function () { save_data(); });
            function save_data() {

                var btn = $('#btn-add');
                if (btn.prop('disabled')) {
                    return false; // Prevent multiple clicks while disabled
                }
                btn.prop("disabled", true);
                //$("#main-form input:disabled").prop("disabled", false);
                btn.html(`<div  style="margin : 0px auto; width:150px"> <span class="spinner-border spinner-border-sm me-2" > </span>
                            Please wait....
                            </div>`);
                var data = {};
                var formData = $("#main-form").serialize(); // Serialize form data
                $("#main-form :input").each(function () {
                    if ($(this).prop("disabled")) {
                        if ($(this).val()) {
                            formData += `&${$(this).attr("name")}=${$(this).val()}`;
                        }
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "../../../hr/save/page", // Replace with your controller and action names
                    data: formData,
                    success: function (resp) {
                        resp = JSON.parse(resp);
                       if (resp.error) {
                           alertError(resp.message);
                            if (isEdit == true) {
                                $('#btn-add').text("Update")
                            }
                            else {

                                $('#btn-add').text("Add")
                                $('#btn-cancel').hide();
                            }
                            $('#btn-add').prop("disabled", false);
                        }
                       else {
                           alertSuccess(resp.message);
                           @if(mpc.pageType== "Single Data Form Only")
                            {
                                @:$('#btn-add').text("Update")
                                @:$('#btn-add').prop("disabled", false);
                                @: bind_form(resp.data);
                            }
                            else
                            {
                                @: emptyForm();
                                @: if (resp.isUpdate) { bind_data(resp.data, 2)}
                                @: else if (resp.isReset) { bind_data(resp.data)}
                                @: else { bind_data(resp.data,1)}
                            }
                        }
                    },
                    error: function (error) {
                        alertError(error);
                        if (isEdit == true) {
                            $('#btn-add').text("Update")
                        }
                        else {

                            $('#btn-add').text("Add")
                            $('#btn-cancel').hide();
                        }
                        $('#btn-add').prop("disabled", false);
                    }
                });


            }
function handleSuccess(data) {
    data = JSON.parse(data);
    if (data.error) {
        alertError(data.message);
        if (isEdit == true) {
            $('#btn-add').text("Update")
        }
        else {

            $('#btn-add').text("Add")
            $('#btn-cancel').hide();
        }
        $('#btn-add').prop("disabled", false);
    }
    else {
        alertSuccess(data.message);
        emptyForm();
        if (data.isUpdate) { bind_data(data.data, 2) }
        else { bind_data(data.data, 1) }
    }
}
function fnfailor(data) {
    if (isEdit = true) {
        $('#btn-add').text("Update")
    }
    else {

        $('#btn-add').text("Add")
        $('#btn-cancel').hide();
    }
}
function fnbegin() {
    var btn = $('#btn-add');
    if (btn.prop('disabled')) {
        return false; // Prevent multiple clicks while disabled
    }
    btn.prop("disabled", true);
    var ss = `<div  style="margin : 0px auto; width:150px">

                    <span class="spinner-border spinner-border-sm me-2" > </span>
                        Please wait....
                        </div>`;
    btn.html(ss);
}

function formatDate(inputDate) {
    var date = new Date(inputDate);
    var formattedDate = date.toLocaleDateString('en-CA', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-');
    return formattedDate;
}

</script>
<script>
    $('#btn-cancel').on('click', function () {
        emptyForm();
    });
    function emptyForm() {

        $('#Duty_Hour_Name').val('');
        $('#No_of_Shift').val(''); 
        $('#No_of_Shift').change(); 
        $('#btn-add').text("Add")
        $('#btn-add').prop("disabled", false);
        $('#btn-cancel').hide();
        $('#HdId').val("")
        $('#model-form').modal("hide");
        for (var i = 1; i <= 10; i++) {
            $('#Shift_' + i + '_Name').val('');
            $('#Shift_' + i + '_Intime').val('');
            $('#Shift_' + i + '_workingHour').val('');
            $('#Shift_' + i + '_outtime').val('');
            $('#Shift_' + i + '_colorcode').val('#ffffff');
        }
        isEdit = false;
    }
</script>

<script>


    function bind_data(data, code) {
        var showAction = true;
        var tableBody = $('#mytable tbody');
        if (code == 2) {
            edit_row.empty();
        }
        else {
            try {
                $('#mytable').DataTable().destroy();
            }
            catch (e) {
                console.log(e);
            }
             
        }

        if (!code) {
            tableBody.empty();
        }
        $('#grid_prog').hide();
        $.each(data, function (index, d) {
            var div = $('<div>').addClass("d-flex align-items-center")
            div.append($('<button>').addClass("edit-button btn").attr("data-id", d.Id).html("<i class='bx bx-edit-alt'></i>"))
            div.append($('<button>').addClass("delete-button btn").attr("data-id", d.Id).html("<i class='bx bx-trash'></i>"))

            var td = $('<td>').append(div).width("55px");
            if (code == 2) {
                if (showAction) {
                    edit_row.append(td);
                }
                edit_row.append($('<td>').text(d.Duty_Hour_Name),
                    $('<td>').text(d.No_of_Shift), 
                );
            }
            else {
                var row = $('<tr>');
                if (showAction) {
                    row.append(td);
                }
                row.append($('<td>').text(d.Duty_Hour_Name),
                    $('<td>').text(d.No_of_Shift), 
                );
                if (!code) {
                    tableBody.append(row);
                }
                else {
                    tableBody.prepend(row);
                }
            }


        });
        if (code != 2) {
            
                var table = $('#mytable').DataTable({
                    lengthChange: false,
                    scrollX: true, scrollCollapse: true,
                    buttons: ['excel', 'pdf', 'print']
                });
             
          
        }

    }
          
    $('#mytable').edit('../../hr/data/edit', function (data, row) {
        edit_row = row;
        isEdit = true;
        $('#main-form').parent().removeClass('d-none');
        $('#btn-add').text("Update")
        $('#btn-cancel').show();
        $('#HdId').val(data[0].Id)
        $('#Duty_Hour_Name').val(data[0].Duty_Hour_Name)
        $('#No_of_Shift').val(data[0].No_of_Shift)
        $('#No_of_Shift').change();
        var details = JSON.parse(data[0].extra);
        $.each(details, function (index, d) {
            var i = index + 1;
            $('#Shift_'+i+'_Name').val(d.ShiftName);
            $('#Shift_' + i +'_Intime').val(d.In_Time);
            $('#Shift_' + i + '_workingHour').val(d.Working_Hour);
            $('#Shift_' + i + '_outtime').val(d.Out_Time);
            $('#Shift_' + i + '_colorcode').val(d.ColorCode);
        });
    });
    $('#mytable').delete('../../hr/data/delete', function (data) {
    });


</script>
