
@{
    Layout = null;
    HR_Employee_Master emp = ViewBag.emp;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Termination Letter</title>
    <link href="~/Payroll/print/certificate.css" rel="stylesheet" />
    <script src="~/Content/theme/js/jquery.min.js"></script>

    <style>


        .page-header, .page-footer img {
            display: none;
        }

        .page-header-space {
            height: 100px;
        }

        .page-footer, .page-footer-space {
            margin-top: 80px;
            /*height: 100px;*/
        }

        .page-footer {
            position: fixed;
            bottom: 0px;
            width: 800px;
            margin: 10px 0px 0px 0px;
        }

        .page-header {
            position: fixed;
            top: 0mm;
            /*width: 100%;*/
            width: 800px;
        }

        .page {
            page-break-after: always;
            counter-increment: page;
        }

        /*.page:before {
                display: block;
                text-align: right;
                content: counter(page);
            }*/

        @@page {
            margin: 10mm;
        }

        @@media print {
            /*  thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }*/

            button {
                display: none;
            }

            .noPrint {
                display: none;
            }

            body {
                margin: 0;
            }

            .page-header-space {
                height: 100px;
            }

            .page-header, .page-footer img {
                display: block;
            }
        }
    </style>
    <script type="text/javascript">
        function printit() {
            if (window.print) {
                window.print();
            }
        }
    </script>
    <script>
        history.pushState(null, null, window.location.href);
        history.back();
        window.onpopstate = () => history.forward();
    </script>
</head>
<body>
    <form id="form1">
        <div class="invoice-sec">

            <div class="prnt-btn-sec noPrint">
                <div class="prnt-btn-wpr">
                    <div class="print-btn-sec">
                        <div class="noPrint" style="float: left; ">
                            <a href="../../hr/home" class="back-btn">
                            </a>
                        </div>
                        <div class="noPrint" style="float: right">
                            <button ID="print1" onclick="printit()" class="print-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tblPrintIQ">
                <div class="invoice-inr-sec">
                    <div class="invoice-wpr">
                        <div class="certificate-wpr">
                            

                            <div style="font-family: 'Times New Roman'; font-size: 15px; ">
                                <p style="text-align: right; margin-top:120px">@My.Now</p>

                                <p>
                                    <b>
                                        @ViewBag.NameTitle  @emp.Employee_Name
                                        <br>
                                        @emp.Address<br>
                                        @emp.City,@emp.State - @emp.Pincode
                                    </b>
                                </p>

                                <p>Dear <strong>@ViewBag.NameTitle  @emp.Employee_Name</strong>,</p>

                                <p>Subject: <strong>Termination of Employment</strong></p>

                                <p>
                                    We regret to inform you that your employment with <strong>@ViewBag.firmName</strong>  will be terminated effective <strong>@emp.Date_of_Leaving</strong>.
                                    This decision has been made due to <strong> @emp.Reson_of_leaving </strong>.
                                </p>

                                <p>
                                    Your last working day will be <strong>@emp.Last_Date_of_Working</strong>, and we expect you to complete all outstanding work and prepare for a smooth transition.
                                    Please ensure that all company property, including <strong>[list specific items, e.g., laptop, keys, ID badge, documents, etc.]</strong>, is returned to your supervisor or the HR department by <strong>@emp.Last_Date_of_Working</strong>.
                                    Failure to return company property may result in deductions from your final paycheck or further action.
                                </p>

                                <p>
                                    You will receive your final paycheck , which will include payment for worked up to your last day.
                                    Should you have any questions regarding your final paycheck or benefits, please contact in <strong>HR Department</strong>.
                                </p>

                                <p>
                                    We appreciate the effort you have contributed to the company and wish you success in your future endeavors.
                                </p>

                                <p>Sincerely,</p>

                                <p>
                                    <strong> @ViewBag.NameTitle  @emp.Employee_Name</strong><br>
                                    @ViewBag.Designation<br>
                                     @ViewBag.firmName<br> 
                                </p>
                            </div> 
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

