
@{
    ViewBag.Title = "Duty Roster";
}
<style>
    .chk_enbled {
        width: 25px;
        height: 25px;
    }

    #tbl-list td {
        padding: 0;
    }

        #tbl-list td label {
            padding: 4px;
            width: 100%;
        }

    .nav-link {
        padding: 0 1rem;
    }
    .header-fixed {
        position: sticky;
        top : -1px;
        background-color: whitesmoke;
    }
    .noff{
        background-color:black;
        color:white;
    }
    .woff{
        background-color:lightgray;
        color:black;
    }
    .cl{
        background-color:#93f546;
        color:black;
    }
    .el {
        background-color: #6edd16;
        color: black;
    }
    .pl {
        background-color: #dcde10;
        color: black;
    }
    .coff {
        background-color: #b5cca2;
        color: black;
    }
    .duty {
        background-color: #0947dc;
        color: white;
    }
</style>
<style>
    @@media print {
        body * {
            visibility: hidden;
        }

        #tbl-data, #tbl-data * {
            visibility: visible;
        }

        #tbl-data {
            position: absolute;
            left: 0;
            top: 0;
        }

        .page-wrapper {
            margin-top: 0px;
            margin-left: 0px;
        }

        .noprint {
            max-height: 0;
            visibility: hidden;
            display: none;
        }
    }
</style>
@*<script type="text/javascript">
    function PrintPanel() {
        var panel = document.getElementById("print-pnl");
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write(`<html> <head>
<link href="../Content/theme/css/bootstrap.min.css" rel="stylesheet" />
<style>
    #tbl-data td {
        padding: 0;
    }

        #tbl-data td label {
            padding: 4px;
            width: 100%;
        }
</style>
`);
        printWindow.document.write('</head><body>');
        printWindow.document.write(``);
        printWindow.document.write(panel.innerHTML);
        printWindow.document.write('</body ></html>');
        printWindow.document.close();
        setTimeout(function () {
            printWindow.print();
        }, 500);
        return false;
    }


</script>*@
<div class="page-breadcrumb d-flex align-items-center mb-2 eeewe">
    <div class="ps-3 d-none d-sm-flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>
    <div class="ms-auto">
        <div class="btn-group">
            <button id="btn-print" type="button" class="btn btn-info">Print</button>
        </div>
    </div>
</div>
<script>
    $('#btn-print').on("click", function () {
        window.print();
    });
</script>
<div class="row">
    <div class="col-lg-12 m-auto">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-4">
                        <div class="row">
                            @Html.LabelEditor("Year", "ddl", divCssClass: "col-lg-3")
                            @Html.LabelEditor("Month", "ddl", divCssClass: "col-lg-4 p-0")
                            @Html.LabelEditor("Duty_Hour", "ddl", "Duty Hour", divCssClass: "col-lg-5 pe-0")
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            @Html.LabelEditor("duration", "ddl", "Rotation Duration", divCssClass: "col-lg-4")
                            @Html.LabelEditor("Department", "ddl", "Department", divCssClass: "col-lg-3 ps-0")
                            @Html.LabelEditor("Designation", "ddl", "Designation", divCssClass: "col-lg-3 ps-0")
                            <div class="col-lg-2"><button type="button" id="btn-find" class="btn btn-primary mt-4">Find</button></div>
                        </div>
                    </div>
                    <script>
                        $('#Department').select2();
                        $('#Designation').select2();
                    </script>
                </div>

                <div class="row">

                    <div class="col-lg-12 mt-0"> 
                        <div id="print-pnl" style="max-height:560px; overflow:auto">
                            <table id="tbl-data" class="table table-bordered" role="grid">

                                <tbody>
                                </tbody>
                            </table>
                        </div>


                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var count = 0;
    const currentDate = new Date();
    const currentYear = currentDate.getFullYear();
    $("#Year option:not(:first)").remove();
    for (var year = 2023; year <= currentYear + 1; year++) {
        $('#Year').append($("<option>").text(year).val(year));
    }
    $("#Month option:not(:first)").remove();
    const monthNames = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];
    for (let i = 0; i < monthNames.length; i++) {
        const monthNumber = (i + 1).toString().padStart(2, '0');
        $('#Month').append($("<option>").text(monthNames[i]).val(monthNumber));
    }
    var data = { type: 'duty-hour' }
    gowithData('../../hr/data/ddl', 'POST', JSON.stringify({ data: data }), function (resp) {
        if (!resp.error) {
            var ddl = $('#Duty_Hour');
            $("#Duty_Hour option:not(:first)").remove();
            $.each(resp.data, function (i, item) {
                ddl.append($("<option>").text(item.Duty_Hour_Name).val(item.Duty_Hour_id));
            });
        }
    });
    $('#Year').on('change', function () {
        $('#Month').val('');
        $('#Month').change();
    })
    $('#Duty_Hour').on('change', function () {
        get_duration_list();
    })
    $('#Month').on('change', function () {
        get_duration_list();
    })
    function get_duration_list() {
        var year = $('#Year').val();
        var month = $('#Month').val();
        var Duty_Hour = $('#Duty_Hour').val();
        if (!month) {
            return false;
        }
        if (!year) {
            return false;
        }
        if (!Duty_Hour) {
            return false;
        }

        var data = { type: 'rotation-duration', month: month, dutyhour: Duty_Hour, year: $('#Year').val() }
        gowithData('../../hr/data/ddl', 'POST', JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#duration');
                $("#duration option:not(:first)").remove();
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.Description).val(item.RotationId));
                });
                $("#duration").val('');
                $('#duration').change();
            }
        });
    }

</script>
<script>
    $(function () {
        var data = { type: 'department' }
        gowithData('../../hr/data/ddl', 'POST', JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Department');
                $("#Department option:not(:first)").remove();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.name).val(item.department_id));
                });
            }
        });
    });

      $(function () {
        $('#Year').val('@My.Now.Year')
        $('#Year').change();
        $('#Month').val('@My.Now.ToString("MM")')
        $('#Month').change();
    });

    $('#Department').on('change', function () {
        var data = { type: 'designation', DepartmentId: $(this).val() }
        gowithData('../../hr/data/ddl', 'POST', JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Designation');
                $("#Designation option:not(:first)").remove();
                ddl.append($("<option>").text("All").val("0"));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.name).val(item.Designation_id));
                });
            }
        });
    })

    $('#btn-find').on('click', function () {
        var data = { type: 'duty-roster-view-new', RotationId: $('#duration').val(), designation: $('#Designation').val(), department: $('#Department').val(), year: $('#Year').val(), month: $('#Month').val() }
        gowithData('../../hr/data/report', 'POST', JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var tbody = $('#tbl-data tbody');
                tbody.empty();
                //Emp_Code,Employee_Name,Employee_image
                var Designation = $('#Designation option:selected');
                var duration = $('#duration option:selected');
                if (resp.data.length == 0) {
                    var row1 = $('<tr >').append($('<th colspan="2" style="text-align : center;">').append($('<label style ="font-size: 25px;">').text(`No Record found`)));
                    tbody.append(row1);
                }
                else {
                    var rstr = Designation.text();
                    if ($('#Designation').val() == "0") {
                        var department = $('#Department option:selected');
                        rstr = department.text();
                    }
                    var row1 = $('<tr>').append($('<th colspan="2" style="text-align : center;">').append($('<label style ="font-size: 25px;">').text(`Duty Roster of ${rstr}`), '<br/>', $('<label>').text(`from ${duration.text()}`), '<br/>', $('<label>').text(resp.shift_details)));
                    tbody.append(row1);

                    row1 = $('<tr>').append($('<th style="text-align : left;">').append($('<label style ="font-size: 17px;">').text(`Duty Incharge : ${resp.incharge}`)));
                    tbody.append(row1);


                    var table = $('<table>').addClass("table-bordered").css('width', '100%');
                    var tb = $('<tbody>');
                    var keys = Object.keys(resp.data[0]);
                    var th = $('<tr>').addClass("header-fixed");
                    var cl = 0;
                    $.each(keys, function (ind, k) {
                        if (cl == 0) {
                            th.append($('<th>').text(k).css('text-align', 'left'));
                            cl = 1;
                        }
                        else {
                            th.append($('<th>').text(k).css('text-align', 'center'));
                        }
                    })
                    tb.append(th);
                    var c_codes = resp.c_codes;
                    console.log(c_codes);
                    $.each(resp.data, function (index, d) {
                        var cl = 0;
                        var tr = $('<tr>');
                        $.each(keys, function (ind, k) {
                            if (cl == 0) {
                                tr.append($('<td>').text(d[k]).css('text-align', 'left'));
                                cl = 1;
                            }
                            else  if (cl == 1) {
                                tr.append($('<td>').text(d[k]).css('text-align', 'center'));
                                cl = 2;
                            }
                            else  if (cl == 2) {
                                tr.append($('<td>').text(d[k]).css('text-align', 'center'));
                                cl = 3;
                            }
                            else {
                                var color = "#000000";
                                if (d[k] == "W-Off" || d[k] == "N-Off") {
                                    color = "#ffffff";
                                }
                                tr.append($('<td>').text(d[k]).css('text-align', 'center').css('background-color', c_codes[d[k]]).css('color', color));
                            }
                        })
                        tb.append(tr);
                    });
                    tbody.append($('<tr>').append($('<td>').addClass("p-0").append(table.append(tb))));
                }
            }
        },true);
    })
    function dtime(time24) {
        // Parse the input time string to get the hours and minutes
        const [hours, minutes] = time24.split(':').map(Number);

        // Determine the meridiem (AM or PM)
        const meridiem = hours >= 12 ? 'PM' : 'AM';

        // Convert hours to 12-hour format
        const hours12 = (hours % 12) || 12;

        // Format the result as a string in 12-hour format
        const time12 = `${hours12.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')} ${meridiem}`;

        return time12;
    }
</script>


