
@{
    // ViewBag.Title = "Monthly Attendance Report Individual";
}
<style>
    td {
        padding-right: 10px;
    }

    th {
        padding-right: 30px;
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#btnPrint").click(function () {
            var contents = $("#printpnl").html();
            var frame1 = $('<iframe />');
            frame1[0].name = "frame1";
            frame1.css({ "position": "absolute", "top": "-1000000px" });
            $("body").append(frame1);
            var frameDoc = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
            frameDoc.document.open();
            //Create a new HTML document.
            frameDoc.document.write('<html><head><title>Print</title>');
            frameDoc.document.write('</head><body>');
            //Append the external CSS file.
            frameDoc.document.write('<link href="../../Content/theme/css/bootstrap.min.css" rel="stylesheet" type="text/css" />');
            //Append the DIV contents.
            frameDoc.document.write(contents);
            frameDoc.document.write('</body></html>');
            frameDoc.document.close();
            setTimeout(function () {
                window.frames["frame1"].focus();
                window.frames["frame1"].print();
                frame1.remove();
            }, 500);
        });
    });
</script>
<div class="page-breadcrumb d-flex align-items-center mb-2">
    <div class="ps-3 d-none d-sm-flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>

    <div class="ms-auto">
        <input type="button" id="btnPrint" value="Print" />
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-2">
                <div class="row"> 
                    @Html.LabelEditor("Department", "ddl", divCssClass: "col-lg-2 col-md-4")
                    @Html.LabelEditor("Designation", "ddl", divCssClass: "col-lg-2 col-md-4")
                    @Html.LabelEditor("Employee", "ddl", divCssClass: "col-lg-2 col-md-4")
                    @Html.LabelEditor("Date", "date",value:My.Now.ToString("yyyy-MM-dd"), divCssClass: "col-lg-2 col-md-4")
                    <div class="col-md-2 mt-4 pt-1">
                        <button id="btn-find" type="button" class="btn btn-primary">Find</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body p-2" id="printpnl">
                <table id="mytable1">
                    <tbody>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped  mt-2" id="mytable">
                    <thead class="fixed-header">
                        <tr>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Attendance Log</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="grid_prog" style="margin : 0px auto; width:200px; display:none">
                    <span class="spinner-border spinner-border-sm me-2"> </span>
                    Please wait....
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
         
        var data = { type: 'department' };
        gowithData("../../hr/data/ddl", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Department');
                $("#Department option:not(:first)").remove();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.name).val(item.department_id));
                });
                ddl.val('0');
                ddl.change();
            }
        })
        
    });
    function bindEmployeeList() {
        var data = { type: 'employees' };
        gowithData("../../hr/data/ddl", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Employee');
                $("#Employee option:not(:first)").remove();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.Employee_Name + ' (' + item.Emp_Code + ')').val(item.Employee_id));
                });
            }
        })
    }
    $('#Department').on("change", function () {
        if (!$('#Department').val()) { 
            return false;
        } 
        var data = { type: 'designation' };
        data.DepartmentId = $('#Department').val();
        gowithData("../../hr/data/ddl", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Designation');
                $("#Designation option:not(:first)").remove();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.name).val(item.Designation_id));
                });
                ddl.val('0');
                ddl.change();
            }
        })
    })
    $('#Designation').on("change", function () {
        if (!$('#Department').val()) { 
            return false;
        } 
        var data = { type: 'designation-employees' };
        data.DepartmentId = $('#Department').val();
        data.DesignationId= $('#Designation').val();
        gowithData("../../hr/data/ddl", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) { 
                var ddl = $('#Employee');
                $("#Employee option:not(:first)").remove();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.Employee_Name + ' (' + item.Emp_Code + ')').val(item.Employee_id));
                });
                ddl.val('0'); 
            }
        })
    })
    $('#btn-find').on("click", function () {
        
        if (!$('#Date').val()) {
            alertErrorNotification('Please select Date')
            return false;
        }
        if (!$('#Employee').val()) {
            alertErrorNotification('Please select Employee')
            return false;
        }
        var data = { type: 'attendance-dplog' };
        data["EmployeeId"] = $('#Employee').val();
        data.DepartmentId = $('#Department').val();
        data.DesignationId = $('#Designation').val(); 
        data["Date"] = $('#Date').val() 
        $('#grid_prog').show();
        $('#mytable1 tbody').empty();
        var tableBody = $('#mytable tbody');
        tableBody.empty();
        gowithData("../../hr/data/attendance", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                bind_table(resp.data); 
            }
        })
    }) 
    function bind_table(data) {
        var tableBody = $('#mytable tbody');
        tableBody.empty();
        $('#grid_prog').hide();
        $.each(data, function (index, d) {
            var row = $('<tr>').append(
                $('<td>').text(d.Employee_Name + ' (' + d.Emp_Code + ')'),
                $('<td>').text(d.Date),
                $('<td>').text(d.atn_log),
            );
            tableBody.append(row);
        });
    }
</script>