
@{ 

}

<style>
    td {
        padding-right: 10px;
        border: none;
    }

    th {
        padding-right: 30px;
    }

    .img-employee {
        height: 50px;
        width: 50px;
        margin-right: 5px;
        float: left;
    }

    .tbl-data {
        padding: 0px;
        font-size: 10px;
        margin-left: -1px;
        width: calc(100% + 2px);
    }

        .tbl-data th, td {
            padding: 0px 2px;
            font-size: 12px;
            border: #bdbdbd solid 1px;
            text-align: center;
        }
</style>


<div class="page-breadcrumb d-flex align-items-center mb-2">
    <div class="ps-3 d-none d-sm-flex">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
            </ol>
        </nav>
    </div>

    <div class="ms-auto" id="div-xls">
        @*<input type="button" id="btnPrint" value="Print" />*@
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card  m-0">
            <div class="card-body p-2" id="printpnl">
                <div class="row">
                    @if (ViewBag.isReport)
                    {
                        @Html.LabelEditor("Firm", "ddl", divCssClass: "col-lg-2")
                        @Html.LabelEditor("Year", "ddl", divCssClass: "col-lg-2")
                        @Html.LabelEditor("Month", "ddl", divCssClass: "col-lg-2 col-md-3")
                        <div class="col-md-2 mt-4 pt-1">
                            <button id="btn-find" type="button" class="btn btn-primary">Find</button>
                        </div>
                        <div class="col-lg-4">
                            <div id="div-srch" style="float:right">

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-4">
                            <div id="div-srch" @*style="float:right"*@>

                            </div>
                        </div>
                    }

                    <div class="col-12">

                        <div style="overflow: auto; max-height: calc(100vh - 230px);">
                            <table class="table table-bordered table-striped  mt-2" id="mytable">
                                <thead>
                                    <tr>
                                        <th>Firm</th>
                                        <th>Employee Name</th>
                                        <th>Emp Code</th>
                                        <th>Year</th>
                                        <th>Month</th>
                                        <th>Days in Month</th>
                                        <th>Paid Days</th>
                                        <th>W-Off</th>
                                        <th>N-Off</th>
                                        <th>Full Day Present</th>
                                        <th>Half Day</th>
                                        <th>Extra Shift</th>
                                        <th>Late Comming</th>
                                        <th>Paid Leave</th>
                                        <th>Half Day Leave</th>
                                        <th>UnPaid Leave</th>
                                        <th>Earning</th>
                                        <th>Deduction</th>
                                        <th>Net Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>

                        <div id="grid_prog" style="margin : 0px auto; width:200px; display:none">
                            <span class="spinner-border spinner-border-sm me-2"> </span>
                            Please wait....
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="card-footer d-none" id="dv_foot">
                    <input type="button" value="Freeze Salary Chart" id="btn-freez" class="btn btn-primary" />
                </div>*@
        </div>
    </div>

</div>

<script>
    $(function () {
        @if (ViewBag.isReport) {
            @:bindGrade();
        }
        else {
            @:get_data('@ViewBag.year', '@ViewBag.month', '@ViewBag.firm');
        }
        
        //bindGrade();
    });
    function bindGrade() {
        const currentDate = new Date();
        const currentYear = currentDate.getFullYear();
        $("#Year option:not(:first)").remove();
        for (var year = 2023; year <= currentYear + 1; year++) {
            $('#Year').append($("<option>").text(year).val(year));
        } 
        $("#Month option:not(:first)").remove();
        const monthNames = [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        for (let i = 0; i < monthNames.length; i++) {
            const monthNumber = (i + 1).toString().padStart(2, '0');
            $('#Month').append($("<option>").text(monthNames[i]).val(monthNumber));
        } 
        var data = { type: 'firm-list' }
        gowithData("../../hr/data/ddl", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                var ddl = $('#Firm');
                ddl.empty();
                ddl.append($("<option>").text('All').val('0'));
                $.each(resp.data, function (i, item) {
                    ddl.append($("<option>").text(item.firm_name).val(item.firm_id));
                }); 
            }
        })
    }
    $('#btn-find').on("click", function () {

        if (!$('#Year').val()) {
            alertErrorNotification('Please select Year')
            return false;
        }
        if (!$('#Month').val()) {
            alertErrorNotification('Please select Month')
            return false;
        }

        get_data($('#Year').val(), $('#Month').val(), $('#Firm').val());
    })
    function get_data(year,month,firm) {
        var data = { type: 'salary-calculated-details' }
        data["Year"] = year
        data["Month"] = month
        data["Firm"] = firm
        $('#grid_prog').show();
        var tableBody = $('#mytable tbody');
        tableBody.empty();
        gowithData("../../hr/data/salary", "POST", JSON.stringify({ data: data }), function (resp) {
            if (!resp.error) {
                bind_table(resp.data);
            }
            else {
                var tableBody = $('#mytable tbody');
                tableBody.empty();
                $('#grid_prog').hide();
                alertError(resp.message);
            }
        })
    }


    function bind_table(data) {
        var tableBody = $('#mytable tbody');
        $('#mytable').DataTable().destroy();
        tableBody.empty();
        $('#grid_prog').hide();
        var thead = $('#mytable thead');
        thead.empty();
        $('#div-srch').empty();
        var tr = $('<tr>');
        $.each(data[0], function (key, value) {
           // console.log("Key: " + key + ", Value: " + value);
            tr.append($('<th>').text(key))
        });
        thead.append(tr);
        $.each(data, function (index, d) {
            var tr = $('<tr>');
            $.each(d, function (key, value) {
                tr.append($('<td>').text(value))
            });
            tableBody.append(tr);
        })
        var table = $('#mytable').DataTable({
            searching: true,
            paging: false,
            buttons: [{
                extend: 'excel',
                exportOptions: {
                    columns: ':visible:not(.no-export)' // Include only visible columns except those with class 'no-export'
                }
            }, {
                extend: 'pdf',
                exportOptions: {
                    columns: ':visible:not(.no-export)' // Include only visible columns except those with class 'no-export'
                }
            }, {
                extend: 'print',
                exportOptions: {
                    columns: ':visible:not(.no-export)' // Include only visible columns except those with class 'no-export'
                }
            }]
        });
        table.buttons().container().appendTo('#div-xls');
        $('#div-srch').append($('#mytable_filter'));
    }

</script>